@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --verde-oscuro: #00523F;
    --verde-medio: #008767;
    --verde-claro: #00BD91;
    --semi-blanco: #f8f9fa;
    --gris-oscuro: #363636;
    --gris-medio: #7A7A7A;
    --gris-claro: #D4D4D4;
}

* {
    font-family: Montserrat;
    box-sizing: border-box;
    padding: 0;
    color: var(--gris-oscuro);
}

h1 {
    font-size: 2rem;
    color: var(--verde-oscuro);
    font-weight: bold;
    margin: 1.8rem 0.8rem 1.8rem 0.8rem; 
}

h2 {
    font-size: 1.8rem;
    color: var(--verde-medio);
    font-weight: bold;
    margin: 0.8rem;
}

h3  {
    font-size: 1.5rem;
    color: var(--verde-medio);
    font-weight: bold;
    margin: 0.8rem;
}

h4, legend {
    font-size: 1.2rem;
    color: var(--gris-oscuro);
    font-weight: bold;
    margin: 0.8rem;
}

h5 {
    font-size: 1.8rem;
    color: var(--gris-claro);
    font-weight: bold;
    margin: 0.8rem;
}

ul, p {
    font-size: 1rem;
    margin: 0.8rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: var(--gris-claro);
}

a:hover {
    text-decoration: none;
    color: var(--verde-medio);
}

small {
    font-size: 0.8rem;
    color: var(--gris-claro);
}

fieldset, legend, .botones-form {
    margin: 0.8rem;
}

input, textarea, select {
    border-radius: 0.375rem;
    border: 1px solid var(--gris-oscuro);
    padding: 0.3rem;
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;
}

textarea {
    max-width: 100%;
}

input[type="radio"], input[type="checkbox"] {
  accent-color: var(--verde-oscuro);
  margin-right: 0.3rem;
}

label {
    font-size: 1.rem;
    margin-left: 0.8rem;
    margin-right: 0rem;
    margin-bottom: 0.8rem;
}

button, .botones {
    padding: 0.8rem;
    background-color: var(--verde-oscuro);
    color:  var(--gris-claro);
    border: none;
    border-radius: 0.375rem;
    margin: 0.5rem;
}

button:hover .botones:hover {
    background-color: var(--verde-medio);
}

button a:hover .botones a:hover {
    color: var(--verde-claro);
}

button:disabled {
    background-color: var(--gris-oscuro);
    color:  var(--gris-claro);
}

.seleccion-sala {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0.8rem;
}

@media (min-width: 768px) {
    .seleccion-sala {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

.imagen-principal {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    border-radius: 0.375rem;
}

.miniatura {
    width: 5rem;
    height: auto;
    border-radius: 0.375rem;
    margin-right: 0.5rem;
}

input[type="radio"]:checked + .miniatura{
    border: 1px solid var(--verde-oscuro);
}

.alerta {
    font-size: 1.2rem;
    color: #FF746C;
    font-weight: bold;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    margin-left: 1.6rem;
}

nav {
    background-color: var(--verde-oscuro);
}

nav, .nav-link, .navbar-brand {
    color: var(--gris-claro);
}

nav:hover, .nav-link:hover, .navbar-brand:hover {
    color: var(--verde-claro);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

footer {
    padding: 2rem;
    background-color: var(--verde-oscuro);
    text-align: center;
}

